.public-header {
    height: 110px;
    background: #0033cc;
}

.public-container {
    position: relative;
    margin: 0 auto;
    background: #006dcc;
    width: 1100px;
}

.public-footer {
    height: 318px;
    background: #3b3b3b;
}
